<h2>Terms of Service</h2>
<br>

<br>
PLEASE READ THESE TERMS OF USE ("AGREEMENT" OR "TERMS OF USE")
<br>
CAREFULLY BEFORE USING THE WEBSITE AND SERVICES OFFERED BY
<br>
GIVESPEND LLC. ("GIVESPEND"). THIS AGREEMENT SETS FORTH THE LEGALLY
<br>
BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT HTTP://
<br>
WWW.GIVESPEND.COM (THE "SITE") AND ALL SERVICES PROVIDED BY
<br>
GIVESPEND ON THE SITE.
<br>

<br>
By using the Site in any manner, including but not limited to visiting or browsing the Site,
<br>
you (the "user" or "you") agree to be bound by this Agreement, including those
<br>
additional terms and conditions and policies referenced herein and/or available by
<br>
hyperlink. This Agreement applies to all users of the Site, including without limitation
<br>
users who are vendors, customers, merchants, contributors of content, information and
<br>
other materials or services on the Site.
<br>

<br>
1. Givespend is a Venue
<br>

<br>
Givespend acts as a venue to allow users who comply with Givespend's policies to
<br>
offer, sell and buy certain goods within a fixed-price format. Givespend is not directly
<br>
involved in the transaction between buyers and sellers. As a result, Givespend has no
<br>
control over the quality, safety, morality or legality of any aspect of the items listed, the
<br>
truth or accuracy of the listings, the ability of sellers to sell items or the ability of buyers
<br>
to pay for items. Givespend does not pre-screen users or the content or information
<br>
provided by users. Givespend cannot ensure that a buyer or seller will actually complete
<br>
a transaction.
<br>

<br>
Consequently, Givespend does not transfer legal ownership of items from the seller to
<br>
the buyer.
<br>

<br>
Givespend cannot guarantee the true identity, age, and nationality of a user. Givespend
<br>
encourages you to communicate directly with potential transaction partners through the
<br>
tools available on the Site. You may also wish to consider using a third-party escrow
<br>
service or services that provide additional user verification.
<br>

<br>
You agree that Givespend is a venue and as such is not responsible or liable for any
<br>
content, for example, data, text, information, usernames, graphics, images,
<br>
photographs, profiles, audio, video, items, and links posted by you, other users, or
<br>
outside parties on Givespend. You use the Givespend service at your own risk.
<br>

<br>
2. Membership Eligibility
<br>

<br>
Age: Givespend's services are available only to, and may only be used by, individuals
<br>
who are 18 years and older who can form legally binding contracts under applicable law.
<br>
You represent and warrant that you are at least 18 years old and that all registration
<br>
information you submit is accurate and truthful. Givespend may, in its sole discretion,
<br>
refuse to offer access to or use of the Site to any person or entity and change its
<br>
eligibility criteria at any time. This provision is void where prohibited by law and the right
<br>
to access the Site is revoked in such jurisdictions.
<br>

<br>
Individuals under the age of 18 must at all times use Givespend's services only in
<br>
conjunction with and under the supervision of a parent or legal guardian who is at least
<br>
18 years of age. In this all cases, the adult is the user and is responsible for any and all
<br>
activities.
<br>

<br>
Compliance: You agree to comply with all local laws regarding online conduct and
<br>
acceptable content. You are responsible for all applicable taxes. In addition, you must
<br>
abide by Givespend's policies as stated in the Agreement and the Givespend policy
<br>
documents listed below (if applicable to your activities on or use of the Site) as well as
<br>
all other operating rules, policies and procedures that may be published from time to
<br>
time on the Site by Givespend, each of which is incorporated herein by reference and
<br>
each of which may be updated by Givespend from time to time without notice to you:
<br>

<br>
Our Fees Policy
<br>

<br>
Our Privacy Policy
<br>

<br>
Our Copyright and Intellectual Property Policy
<br>

<br>
In addition, some services offered through the Site may be subject to additional terms
<br>
and conditions promulgated by Givespend from time to time; your use of such services
<br>
is subject to those additional terms and conditions, which are incorporated into this
<br>
Agreement by this reference.
<br>

<br>
Password: Keep your password secure. You are fully responsible for all activity, liability
<br>
and damage resulting from your failure to maintain password confidentiality. You agree
<br>
to immediately notify Givespend of any unauthorized use of your password or any
<br>
breach of security. You also agree that Givespend cannot and will not be liable for any
<br>
loss or damage arising from your failure to keep your password secure. You agree not
<br>
to provide your username and password information in combination to any other party
<br>
other than Givespend without Givespend's express written permission.
<br>

<br>
Account Information: You must keep your account information up-to-date and
<br>
accurate at all times, including a valid email address. To sell items on Givespend you
<br>
must provide and maintain valid payment information such as valid credit card
<br>
information or a valid PayPal account.
<br>

<br>
Account Transfer: You may not transfer or sell your Givespend account and User ID to
<br>
another party. If you are registering as a business entity, you personally guarantee that
<br>
you have the authority to bind the entity to this Agreement.
<br>

<br>
Right to Refuse Service: Givespend's services are not available to temporarily or
<br>
indefinitely suspended Givespend members. Givespend reserves the right, in
<br>
Givespend's sole discretion, to cancel unconfirmed or inactive accounts. Givespend
<br>
reserves the right to refuse service to anyone, for any reason, at any time.
<br>

<br>
3. Fees and Services
<br>

<br>
Joining and creating an account on Givespend is free. Givespend reserves the right to
<br>
charge fees for listing an item for sale, as well as a percentage of the sale price when
<br>
the item sells. When you list an item you have an opportunity to review and accept the
<br>
fees that you will be charged. Givespend's Fees Policy, which is subject to change, is
<br>
incorporated into this Agreement by reference. Changes to the Fees Policy and the fees
<br>
for Givespend's services are effective after Givespend provides you with at least
<br>
fourteen (14) days' notice by posting the changes on the Site. However, Givespend may
<br>
choose to temporarily change the Fees Policy and the fees for Givespend's services for
<br>
promotional events (for example, free listing days); such changes are effective when
<br>
Givespend posts the temporary promotional event on the Site. Givespend may, at
<br>
Givespend's sole discretion, change some or all of Givespend's services at any time. In
<br>
the event Givespend introduces a new service, the fees for that service are effective at
<br>
the launch of the service. Unless otherwise stated, all fees are quoted in US Dollars
<br>
(USD).
<br>

<br>
In certain situations, including but not limited to a void or invalid transaction, Givespend
<br>
may issue a credit for the applicable fees to a seller's billing statement.
<br>

<br>
You are responsible for paying all fees and applicable taxes associated with using
<br>
Givespend. Givespend keeps accepted payment information on file. At the beginning of
<br>
the month, each seller is emailed an invoice detailing the amount due. A seller must pay
<br>
the amount due in full within 15 days of the date of the invoice.
<br>

<br>
Fees and Termination: If Givespend terminates a listing or your account, if you close
<br>
your account, or if the payment of your Givespend fees cannot be completed for any
<br>
reason, you remain obligated to pay Givespend for all unpaid fees plus any penalties, if
<br>
applicable. If the seller's account is not paid in full and becomes past due, the seller
<br>
risks penalties such as the suspension of privileges and/or termination of the account
<br>
and other collection mechanisms (including retaining collection agencies and legal
<br>
counsel). If you have a question or wish to dispute a charge, contact Givespend.
<br>

<br>
4. Listing and Selling
<br>

<br>
Listing Description: By listing an item on the Site you warrant that you and all aspects
<br>
of the item comply with Givespend's published policies. You also warrant that you may
<br>
legally sell the item. You must accurately describe your item and all terms of sale in your
<br>
Givespend listing. Your listings may only include text descriptions, graphics, pictures
<br>
and other content relevant to the sale of that item. All items must be listed in an
<br>
appropriate category with appropriate tags. Each listing must accurately and completely
<br>
describe the item/items for sale in that listing. Each unique item must have its own
<br>
listing.
<br>

<br>
Shop Policies: All sellers are urged to outline listing policies and shipping details for
<br>
their Givespend listing. These policies may include, for example, shipping, returns,
<br>
payment and selling policies. Sellers must create reasonable policies in good faith and
<br>
must abide by such policies. All listing policies must comply with Givespend's site-wide
<br>
policies. Sellers are responsible for enforcing their own reasonable listing policies.
<br>
Givespend reserves the right to request that a seller modify a listing policy.
<br>

<br>
Binding Sale: All sales are binding. The seller is obligated to ship the order or
<br>
otherwise complete the transaction with the buyer in a prompt manner, unless there is
<br>
an exceptional circumstance, such as: (a) the buyer fails to meet the terms of the
<br>
seller's listing (such as payment method), or (b) the seller cannot authenticate the
<br>
buyer's identity. The buyer is obligated to deliver appropriate payment for items
<br>
purchased, unless there is an exceptional circumstance.
<br>

<br>
Fee Avoidance: The price stated in each item listing description must be an accurate
<br>
representation of the sale. Sellers may charge reasonable and stated shipping and
<br>
handling fees to cover the costs for packaging and mailing the items. Sellers may not
<br>
charge excessive shipping fees or otherwise avoid fees. You may not alter the item's
<br>
price after a sale for the purpose of avoiding Givespend transaction fees, misrepresent
<br>
the item's location, or use another user's account without permission.
<br>

<br>
5. Prohibited, Questionable and Infringing Items and Activities
<br>

<br>
You are solely responsible for your conduct and activities on and regarding to
<br>
Givespend and any and all data, text, information, usernames, graphics, images,
<br>
photographs, profiles, audio, video, items, and links (together, "Content") that you
<br>
submit, post, and display on Givespend.
<br>

<br>
Restricted Activities: Your Content and your use of Givespend shall not:
<br>
<br>

1. Be false, inaccurate or misleading
<br>
<br>
2. Be fraudulent or involve the sale of illegal, counterfeit or stolen items
<br>

<br>
3. Infringe upon any third-party's copyright, patent, trademark, trade secret or other
<br>
proprietary or intellectual property rights or rights of publicity or privacy (see also,
<br>
Givespend's Copyright and Intellectual Property Policy)
<br>

<br>
4. Violate this Agreement, The Do’s and Don’ts Givespend, any site policy or
<br>
community guidelines, or any applicable law, statute, ordinance or regulation
<br>
(including, but not limited to, those governing export control, consumer
<br>
protection, unfair competition, anti-discrimination or false advertising)
<br>

<br>
5. Contain items that have been identified by the U.S. Consumer Products Safety
<br>
Commission (CPSC) as hazardous to consumers and therefore subject to a
<br>
recall
<br>

<br>
6. Be defamatory, trade libelous, unlawfully threatening, unlawfully harassing,
<br>
impersonate or intimidate any person (including Givespend staff or other users),
<br>
or falsely state or otherwise misrepresent your affiliation with any person, through
<br>
for example, the use of similar email address, nicknames, or creation of false
<br>
account(s) or any other method or device
<br>

<br>
7. Be obscene or contain child pornography
<br>

<br>
8. Contain or transmit any code of a destructive nature that may damage,
<br>
detrimentally interfere with, surreptitiously intercept or expropriate any system,
<br>
data or personal information
<br>

<br>
9. Host images not part of a listing
<br>

<br>
10. Modify, adapt or hack Givespend or modify another website so as to falsely imply
<br>
that it is associated with Givespend;
<br>

<br>
11. Appear to create liability for Givespend or cause Givespend to lose (in whole or
<br>
in part) the services of Givespend's ISPs or other suppliers
<br>

<br>
12. Link directly or indirectly, reference or contain descriptions of goods or services
<br>
that are prohibited under this Agreement, the The Privacy Policy, The Do’s and
<br>
Dont's of Givespend, or other policy documents as posted on Givespend.
<br>

<br>
Furthermore, you may not list any item on Givespend (or consummate any transaction
<br>
that was initiated using Givespend's service) that, by paying to Givespend the listing fee
<br>
or the final value fee, could cause Givespend to violate any applicable law, statute,
<br>
ordinance or regulation, or that violates the Terms of Use.
<br>

<br>
6. Content
<br>

<br>
License: Givespend does not claim ownership rights in your Content. You grant
<br>
Givespend a license solely to enable Givespend to use any information or Content you
<br>
supply Givespend with, so that Givespend is not violating any rights you might have in
<br>
that Content. You grant Givespend a non-exclusive, worldwide, perpetual, irrevocable,
<br>
royalty-free, sublicensable (through multiple tiers) right to exercise the copyright,
<br>
publicity, and database rights (but no other rights) you have in the Content, in any media
<br>
now known or not currently known, with respect to your Content. You agree to allow
<br>
Givespend to store or re-format your Content on Givespend and display your Content
<br>
on Givespend in any way as Givespend chooses. Givespend will only use personal
<br>
information in accordance with Givespend's Privacy Policy.
<br>

<br>
As part of a transaction, you may obtain personal information, including email address
<br>
and shipping information, from another Givespend user. Without obtaining prior
<br>
permission from the other user, this personal information shall only be used for that
<br>
transaction or for Givespend-related communications. Givespend has not granted you a
<br>
license to use the information for unsolicited commercial messages. Without limiting the
<br>
foregoing, without express consent from the user, you are not licensed to add any
<br>
Givespend user to your email or physical mail list. For more information, see
<br>
Givespend's Privacy Policy.
<br>

<br>
Re-Posting Content: By posting Content on Givespend, it is possible for an outside
<br>
website or a third party to re-post that Content. You agree to hold Givespend harmless
<br>
for any dispute concerning this use. If you choose to display your own Givespend-
<br>
hosted image on another website, the image must provide a link back to its listing page
<br>
on Givespend.
<br>

<br>
Idea Submissions: Givespend considers any unsolicited suggestions, ideas, proposals
<br>
or other material submitted to it by users via the Site or otherwise (other than the
<br>
Content and the tangible items sold on the Site by users) (collectively, the "Material") to
<br>

<br>
be non-confidential and non-proprietary, and Givespend shall not be liable for the
<br>
disclosure or use of such Material. If, at Givespend's request, any member sends
<br>
Material to improve the site (for example through the Forums or to customer support),
<br>
Givespend will also consider that Material to be non-confidential and non-proprietary
<br>
and Givespend will not be liable for use or disclosure of the Material. Any
<br>
communication by you to Givespend is subject to this Agreement. You hereby grant and
<br>
agree to grant Givespend, under all of your rights in the Material, a worldwide, non-
<br>
exclusive, perpetual, irrevocable, royalty-free, fully-paid, sublicensable and transferable
<br>
right and license to incorporate, use, publish and exploit such Material for any purpose
<br>
whatsoever, commercial or otherwise, including but not limited to incorporating it in the
<br>
API, documentation, or any product or service, without compensation or accounting to
<br>
you and without further recourse by you.
<br>

<br>
7. Information Control
<br>

<br>
Givespend does not control the Content provided by users that is made available on
<br>
Givespend. You may find some Content to be offensive, harmful, inaccurate, or
<br>
deceptive. There are also risks of dealing with underage persons or people acting under
<br>
false pretense.
<br>

<br>
Additionally, there may also be risks dealing with international trade and foreign
<br>
nationals. By using Givespend, you agree to accept such risks and that Givespend (and
<br>
Givespend's officers, directors, agents, subsidiaries, joint ventures and employees) is
<br>
not responsible for any and all acts or omissions of users on Givespend. Please use
<br>
caution, common sense, and practice safe buying and selling when using Givespend.
<br>

<br>
Other Resources: Givespend is not responsible for the availability of outside websites
<br>
or resources linked to or referenced on the Site. Givespend does not endorse and is not
<br>
responsible or liable for any content, advertising, products, or other materials on or
<br>
available from such websites or resources. You agree that Givespend shall not be
<br>
responsible or liable, directly or indirectly, for any damage or loss caused or alleged to
<br>
be caused by or in connection with the use of or reliance on any such content, goods or
<br>
services available on or through any such websites or resources.
<br>

<br>
8. Meetings
<br>

<br>
Users may arrange and attend online virtual meetings or in-person meetings
<br>
("Meetings") with one or more individuals. Users are solely responsible for interactions
<br>
with others. Users must comply with Givespend's policies and acknowledge and agree
<br>

<br>
to comply with the laws of the city, county and country in which the Meeting occurs.
<br>
Additional eligibility requirements for a particular group or Meeting may be set by the
<br>
group's contact person. Givespend is not involved with user generated groups, the
<br>
groups' requirements, or the Meetings.
<br>

<br>
Givespend does not supervise or control the Meetings, user-initiated online or offline
<br>
gatherings, or the interactions among and between users and other persons or
<br>
companies. Users are solely responsible for interactions with others. Users understand
<br>
that Givespend does not in any way screen its users. All users agree to exercise caution
<br>
and good judgment in all interactions with others, particularly if meeting offline or in
<br>
person.
<br>

<br>
User Fees and Transactions: Givespend IS NOT INVOLVED IN THE
<br>
TRANSACTIONS, THE PAYMENTS OR THEIR PROCESSING. THE PAYMENT DOES
<br>
NOT GO TO Givespend; THIS MONEY IS SEPARATE FROM ANY FEES OR
<br>
CHARGES ASSESSED BY Givespend, AND Givespend HAS NO CONTROL OVER
<br>
THE MONEY, PROMOTIONS, THE MEETINGS, OR THE LEADER OF THE GROUP IN
<br>
CONNECTION WITH ITS USE. YOU ACKNOWLEDGE AND AGREE THAT Givespend
<br>
IS NEITHER INVOLVED NOR A PARTY IN ANY PAYMENT, TRANSACTION OR
<br>
INTERACTION BETWEEN OR AMONG USER-GENERATED GROUPS, Givespend
<br>
USERS AND/OR THIRD PARTIES (together a "Third Party Transaction"), AND THAT
<br>
YOU BEAR ALL RISK IN CONNECTION WITH YOUR THIRD PARTY
<br>
TRANSACTIONS. Users should use common sense and be careful in deciding whether
<br>
to contribute money.
<br>

<br>
9. Resolution of Disputes and Release
<br>

<br>
In the event a dispute arises between you and Givespend, please contact Givespend.
<br>

<br>
Any dispute arising from or relating to the subject matter of this Agreement shall be
<br>
finally settled by arbitration in New York County, New York, using the English language
<br>
in accordance with the Arbitration Rules and Procedures of Judicial Arbitration and
<br>
Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator with
<br>
substantial experience in resolving intellectual property and commercial contract
<br>
disputes, who shall be selected from the appropriate list of JAMS arbitrators in
<br>
accordance with the Arbitration Rules and Procedures of JAMS. The prevailing party in
<br>
any arbitration or other proceeding arising under this Agreement shall be entitled to
<br>
receive reimbursement of its reasonable expenses (including reasonable attorneys'
<br>
fees, expert witness fees and all other expenses) incurred in connection therewith.
<br>
Judgment upon the award so rendered may be entered in a court having jurisdiction or
<br>

<br>
application may be made to such court for judicial acceptance of any award and an
<br>
order of enforcement, as the case may be. Notwithstanding the foregoing, each party
<br>
shall have the right to institute an action in a court of proper jurisdiction for injunctive or
<br>
other equitable relief pending a final decision by the arbitrator. For all purposes of this
<br>
Agreement, the parties consent to exclusive jurisdiction and venue in the United States
<br>
Federal Courts or state courts located in the Southern District of New York. Use of the
<br>
Site is not authorized in any jurisdiction that does not give effect to all provisions of the
<br>
Agreement, including without limitation, this section. You and Givespend agree that any
<br>
cause of action arising out of or related to the Site (including, but not limited to, any
<br>
services provided or made available therein) or this Agreement must commence within
<br>
one (1) year after the cause of action arose; otherwise, such cause of action is
<br>
permanently barred.
<br>

<br>
Should you have a dispute with one or more users, or an outside party, you release
<br>
Givespend (and Givespend's officers, directors, agents, subsidiaries, joint ventures and
<br>
employees) from any and all claims, demands and damages (actual and consequential)
<br>
of every kind and nature, known and unknown, suspected and unsuspected, disclosed
<br>
and undisclosed, arising out of or in any way connected with such disputes. Givespend
<br>
encourages users to report user-to-user disputes to your local law enforcement,
<br>
postmaster general, or a certified mediation or arbitration entity, as applicable.
<br>

<br>
Givespend, for the benefit of users, may try to help users resolve disputes. Givespend
<br>
does so in Givespend's sole discretion, and Givespend has no obligation to resolve
<br>
disputes between users or between users and outside parties. To the extent that
<br>
Givespend attempts to resolve a dispute, Givespend will do so in good faith based
<br>
solely on Givespend's policies. Givespend will not make judgments regarding legal
<br>
issues or claims.
<br>

<br>
10. Givespend's Intellectual Property
<br>

<br>
Givespend, and other Givespend graphics, logos, designs, page headers, button icons,
<br>
scripts, and service names are registered trademarks, trademarks or trade dress of
<br>
Givespend, Inc. in the U.S. and/or other countries. Givespend's trademarks and trade
<br>
dress may not be used, including as part of trademarks and/or as part of domain names
<br>
or email addresses, in connection with any product or service in any manner that is
<br>
likely to cause confusion.
<br>

<br>
11. Access and Interference
<br>

<br>
Givespend may contain robot exclusion headers which contain internal rules for
<br>
software usage. Much of the information on Givespend is updated on a real-time basis
<br>
and is proprietary or is licensed to Givespend by Givespend's users or third-parties. You
<br>
agree that you will not use any robot, spider, scraper or other automated means to
<br>
access Givespend for any purpose whatsoever, except to the extent expressly permitted
<br>
by and in compliance with Givespend's Terms of use or otherwise without Givespend's
<br>
prior express written permission. Additionally, you agree that you will not:
<br>

<br>
1.
<br>

<br>
Take any action that imposes, or may impose, in Givespend's sole discretion, an
<br>
unreasonable or disproportionately large load on Givespend's infrastructure
<br>

<br>
2.
<br>

<br>
Copy, reproduce, modify, create derivative works from, distribute or publicly
<br>
display any user Content (except for your Content) or other allowed uses as set
<br>
out in Do’s and Don’ts of Givespend from the Site except to the extent expressly
<br>
permitted by and in compliance with Givespend's Terms of Use or otherwise
<br>
without the prior express written permission of Givespend and the appropriate
<br>
third party, as applicable
<br>

<br>
3.
<br>

<br>
Interfere or attempt to interfere with the proper working of the Site or any
<br>
activities conducted on the Site
<br>

<br>
4.
<br>

<br>
Bypass Givespend's headers or other measures Givespend may use to prevent
<br>
or restrict access to Givespend
<br>

<br>
12. Breach
<br>

<br>
Without limiting any other remedies, Givespend may, without notice, and without
<br>
refunding any fees, delay or immediately remove Content, warn Givespend's community
<br>
of a user's actions, issue a warning to a user, temporarily suspend a user, temporarily or
<br>
indefinitely suspend a user's account privileges, terminate a user's account, prohibit
<br>
access to the Site, and take technical and legal steps to keep a user off the Site and
<br>
refuse to provide services to a user if any of the following apply:
<br>

<br>
Givespend suspects (by information, investigation, conviction, settlement, insurance or
<br>
escrow investigation, or otherwise) a user has breached this Agreement, the Privacy
<br>
Policy, The Do’s and Don’ts of Givespend, or other policy documents and community
<br>
guidelines incorporated herein; Givespend is unable to verify or authenticate any of your
<br>
personal information or Content; or Givespend believes that a user is acting
<br>
inconsistently with the letter or spirit of Givespend's policies, has engaged in improper
<br>
or fraudulent activity in connection with Givespend or the actions may cause legal
<br>
liability or financial loss to Givespend's users or to Givespend.
<br>

<br>
13. Privacy
<br>

<br>
Except as provided in Givespend's Privacy Policy Givespend will not sell or disclose
<br>
your personal information (as defined in the Privacy Policy) to third parties without your
<br>
explicit consent. Givespend stores and processes Content on computers located in the
<br>
United States that are protected by physical as well as technological security.
<br>

<br>
14. No Warranty
<br>

<br>
GIVESPEND, GIVESPEND'S SUBSIDIARIES, OFFICERS, DIRECTORS,
<br>
EMPLOYEES, AND GIVESPEND'S SUPPLIERS PROVIDE GIVESPEND'S WEB SITE
<br>
AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION,
<br>
EXPRESS, IMPLIED OR STATUTORY. GIVESPEND, GIVESPEND'S SUBSIDIARIES,
<br>
OFFICERS, DIRECTORS, EMPLOYEES AND GIVESPEND'S SUPPLIERS
<br>
SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE,
<br>
MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE
<br>
AND NON-INFRINGEMENT. IN ADDITION, NO ADVICE OR INFORMATION (ORAL
<br>
OR WRITTEN) OBTAINED BY YOU FROM Givespend SHALL CREATE ANY
<br>
WARRANTY. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED
<br>
WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS
<br>
WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE
<br>
OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE.
<br>

<br>
15. Liability Limit
<br>

<br>
IN NO EVENT SHALL GIVESPEND, AND (AS APPLICABLE) GIVESPEND’S
<br>
SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES OR GIVESPEND’S
<br>
SUPPLIERS BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT,
<br>
INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR
<br>
INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR
<br>
ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE, GIVESPEND’S
<br>
SERVICES, OR THIS AGREEMENT, INCLUDING WITHOUT LIMITATION, LOST
<br>
PROFITS, BODILY INJURY, EMOTIONAL DISTRESS, OR ANY SPECIAL,
<br>
INCIDENTAL OR CONSEQUENTIAL DAMAGES.
<br>

<br>
GIVESPEND’S LIABILITY, AND (AS APPLICABLE) THE LIABILITY OF GIVESPEND'S
<br>
SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU
<br>
OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE GREATER
<br>
OF (A) THE AMOUNT OF FEES YOU PAY TO GIVESPEND IN THE 12 MONTHS
<br>

<br>
PRIOR TO THE ACTION GIVING RISE TO LIABILITY, AND (B) $100. SOME STATES
<br>
DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR
<br>
CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY
<br>
NOT APPLY TO YOU.
<br>

<br>
16. Indemnity
<br>

<br>
YOU AGREE TO INDEMNIFY AND HOLD GIVESPEND AND (AS APPLICABLE)
<br>
GIVESPEND’S PARENT, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS,
<br>
AGENTS, AND EMPLOYEES, HARMLESS FROM ANY CLAIM OR DEMAND,
<br>
INCLUDING REASONABLE ATTORNEYS' FEES, MADE BY ANY THIRD PARTY DUE
<br>
TO OR ARISING OUT OF YOUR BREACH OF THIS AGREEMENT OR THE
<br>
DOCUMENTS IT INCORPORATES BY REFERENCE, OR YOUR VIOLATION OF ANY
<br>
LAW OR THE RIGHTS OF A THIRD PARTY.
<br>

<br>
17. No Guarantee
<br>

<br>
Givespend does not guarantee continuous, uninterrupted access to the Site, and
<br>
operation of the Site may be interfered with by numerous factors outside Givespend's
<br>
control.
<br>

<br>
18. Legal Compliance; Taxes
<br>

<br>
You shall comply with all applicable domestic and international laws, statutes,
<br>
ordinances and regulations regarding your use of the Site and any Givespend service
<br>
and, if applicable, your listing, purchase, solicitation of offers to purchase, and sale of
<br>
items. In addition, you shall be responsible for paying any and all taxes applicable to
<br>
any purchases or sales of items you make on the Site (excluding any taxes on
<br>
Givespend's net income).
<br>

<br>
19. Severability
<br>

<br>
If any provision of this Agreement is held unenforceable, then such provision will be
<br>
modified to reflect the parties' intention. All remaining provisions of this Agreement shall
<br>
remain in full force and effect.
<br>

<br>
20. No Agency
<br>

<br>
You and Givespend are independent contractors, and no agency, partnership, joint
<br>
venture, employee-employer or franchiser-franchisee relationship is intended or created
<br>
by this Agreement.
<br>

<br>
21. Givespend Service
<br>

<br>
Givespend reserves the right to modify or terminate the Givespend service for any
<br>
reason, without notice, at any time. Givespend reserves the right to alter these Terms of
<br>
Use or other Site policies at any time, so please review the policies frequently. If
<br>
Givespend makes a material change Givespend will notify you here, by email, by means
<br>
of a notice on our home page, or other places Givespend deems appropriate. What
<br>
constitutes a "material change" will be determined at Givespend's sole discretion, in
<br>
good faith, and using common sense and reasonable judgment.
<br>

<br>
22. Choice of Law
<br>

<br>
This Agreement shall in all respects be interpreted and construed with and by the laws
<br>
of the State of New York, excluding its conflicts of laws rules, and the United States of
<br>
America.
<br>

<br>
23. Survival
<br>

<br>
Sections 3 (Fees and Services, Fees and Termination), 6 (Content, License), 7
<br>
(Information Control), 8 (Meetings, Groups or User Fees), 9 (Resolution of Dispute and
<br>
Release), 10 (Givespend's Intellectual Property), 11 (Access and Interference), 12
<br>
(Breach), 13 (Privacy), 14 (No Warranty), 15 (Liability Limit), 16 (Indemnity), 17 (No
<br>
Guaranty), 19 (Severability), 20 (No Agency), 22 (Choice of Law) shall survive any
<br>
termination or expiration of this Agreement.
<br>

<br>
24. Notices
<br>

<br>
Except as explicitly stated otherwise, any notices shall be given by postal mail to
<br>
Givespend; Attn: 4321 Naomi Ave; Bremerton, WA 98310 (in the case of Givespend) or,
<br>
in your case, to the email address you provide to Givespend (either during the
<br>
registration process or when your email address changes). Notice shall be deemed
<br>
given 24 hours after email is sent, unless the sending party is notified that the email
<br>
address is invalid. Alternatively, Givespend may give you notice by certified mail,
<br>
postage prepaid and return receipt requested, to the address provided to Givespend. In
<br>
such case, notice shall be deemed given three days after the date of mailing.
<br>

<br>
For issues with intellectual property, please provide the notice as specified in
<br>
Givespend's Copyright and Intellectual Property Policy.
<br>

<br>
25. Disclosures
<br>

<br>
The services hereunder are offered by Givespend LLC, located at 4321 Naomi Ave,
<br>
Bremerton, WA 98310. If you are a WA resident, you may have this same information
<br>
emailed to you by sending a letter to the foregoing address with your email address and
<br>
a request for this information.
<br>

<br>
Effective Date: June 12, 2012<br><br>
