.about-givespend {
	font-weight: 200;
	padding: 10px 0px;
	margin: 0 auto;
	width: 630px;
	h2 {
		font-size: 26px;
		font-weight: 200;
		text-align: center;
		color: #6F6E6E;
	}
	p {
		font-size: 17px;
		background-color: #eee;
		padding: 30px;
		margin: 0 auto;
	}
	i {
		font-weight: 400;
		float:right;
	}
}