
#categories {
  width: 110px;
  font-family: 'Source Sans Pro';
  padding: 5px 10px;
  font-size: 25px;
  float: right;
  text-align: right;
  font-weight: 300;
  margin-top: 75px;
}
.category-menu {
  display: none;
  font-size: 18px;
  z-index: 9999;
  position: absolute;
  padding: 10px;
  width: 110px;
  font-family: 'Source Sans Pro';
  background-color: white;
  box-shadow: 2px 2px 2px grey;
  text-align: right;
  a {
    text-decoration: none;
    color: #39F;
  }
  a:visited {
    color: #39F;
  }
}
#login-controls, #new-item-btn {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  float: right;
  padding: 5px 10px;
  font-weight: 300;
  a {
    text-decoration: none;
    color: #39F;
  }
  a:visited {
    color: #39F;
  }
  span {
    padding: 5px 10px;
    color: #39F;
  }
  margin-top: 75px;
}
#login-controls {
  margin-left: 2px;
}