.item-show {
	width: 400px;
	font-weight: 300;

	text-align: center;
	h3 {
		font-weight: 300;
		line-height: 10px;
		height: 2px;
	}
	img {
		width: 400px;
		display: inline;
	}
	.listed-by {
		a {
			color: #39f;
			text-decoration: none;
		}
		a:visited {
			color: #39f;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.description {
		vertical-align: top;
		width: 380px;
		padding: 0 10px 10px 10px;
		font-family: 'Source Sans Pro';
	}
	.add-to-cart {
		background-color: #39f;
		width: 90px;
		margin: 0 auto;
		padding: 8px;
		a {
		  text-decoration: none;
		  color: white;
		}
		a:visited {
		  color: white;
		}
	}
}