.navbar {
  height: 150px;
  margin-left: 0;
  .logo {
    height: 130px;
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    img {
      height: 100%;
    }
  }
  .links {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    a {
      color: #39f;
      text-decoration: none;
    }
    a:visited {
      color: #39f;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

#nav{
  display: inline-block;
  list-style:none;
  margin-bottom:10px;
  i.icon-chevron-down {
    font-size: .7em;
  }
  li{
    width: 105px;
    margin-right:10px;
    position:relative;
  }
  a {
    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;
  }
  a:hover{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
  }
  ul{
    background:#fff; 
    background:rgba(255,255,255,0); 
    list-style:none;
    position:absolute;
    left:-9999px; 
    li{
      text-align: left;
      font-weight: 300;
      padding-top:1px;
      float:none;
      z-index: 99999;
    }
    a{
      white-space:nowrap;
    }
  }
  li:hover {
    ul{ 
      left:0; 
      a{ 
        text-decoration:none;
      }
      li a:hover{ 
        background:#333;
      }
    }
    a{ 
      background:#6b0c36;
      text-decoration:underline;
    }
  }
}


@media (max-width: 770px) {
  .navbar {
    display: inline;
    .logo {
      float: none;
      width: 199px;
      margin: 0 auto;
      padding: 0;
    }
    .links {
      clear: left;
    }
  }
}
//this is put in here to take care of the .links using float:left
.messages-container {
  clear: left;
}