<div class="row about-givespend">
	<div class="span1"></div>
	<div class="span7">
		<h2>A portion of everything you buy goes to a cause that <b>matters</b></h2>
		<p>
			Givespend is an online marketplace that allows you to support nonprofits nationwide, while shopping from equally passionate people. Buy, and a percentage of what you spend goes to a nonprofit. We believe with community support, everyone can be a driver for change. 
			<br><br><i> -- Steven & Dylan</i>
		</p>
	</div>
	<div class="span1"></div>
</div>

<hr>