<div class="footer">
  <span>
    MEET THE NONPROFITS &nbsp; | &nbsp; <%= link_to 'ABOUT', about_path %> &nbsp; | &nbsp; <%= link_to 'CONTACT', contact_path %>
  </span>
  <span class="new-item-btn">
  </span>
</div>
